body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: silver;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.div_botao {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.botao {
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: none;
  background-color: darkcyan;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.botao:hover {
  background-color: #fff;
  color: darkcyan;
}
